[Desktop Entry]
Version=1.0
Name=Mousepad
Comment=Simple Text Editor
GenericName=Text Editor
Exec=mousepad %U
Icon=org.xfce.mousepad
Terminal=false
StartupNotify=true
Type=Application
Categories=Utility;TextEditor;GTK;
MimeType=text/plain;application/x-zerosize;
Actions=preferences;
X-XFCE-Source=file:///usr/share/applications/org.xfce.mousepad.desktop

[Desktop Action preferences]
Name=Mousepad Preferences
Exec=mousepad --preferences
