[Desktop Entry]
Version=1.0
Name=Xfce Terminal Settings
Comment=Configure Xfce Terminal
Keywords=terminal;settings;preferences;configuration;configure;
Exec=xfce4-terminal --preferences
Icon=org.xfce.terminal-settings
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-PersonalSettings;
StartupNotify=true
NotShowIn=GNOME;
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal-settings.desktop
